# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/
.venv/

# Environment Variables
.env

# Flask
instance/
*.sqlite3

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
